html {
  --md-background-color: rgb(248, 249, 250);
  --md-loading-message-color: #6e6e6e;
  --md-toolbar-color: rgb(51, 103, 214);
  --md-toolbar-height: 56px;
  --primary-text-color: var(--light-theme-text-color);
  --primary-background-color: var(--light-theme-background-color);
  --secondary-text-color: var(--light-theme-secondary-color);
  --disabled-text-color: var(--light-theme-disabled-color);
  --divider-color: var(--light-theme-divider-color);
  --error-color: var(--paper-deep-orange-a700);
  --primary-color: var(--paper-indigo-500);
  --light-primary-color: var(--paper-indigo-100);
  --dark-primary-color: var(--paper-indigo-700);
  --accent-color: var(--paper-pink-a200);
  --light-accent-color: var(--paper-pink-a100);
  --dark-accent-color: var(--paper-pink-a400);
  --light-theme-background-color: #ffffff;
  --light-theme-base-color: #000000;
  --light-theme-text-color: var(--paper-grey-900);
  --light-theme-secondary-color: #737373;
  --light-theme-disabled-color: #9b9b9b;
  --light-theme-divider-color: #dbdbdb;
  --dark-theme-background-color: var(--paper-grey-900);
  --dark-theme-base-color: #ffffff;
  --dark-theme-text-color: #ffffff;
  --dark-theme-secondary-color: #bcbcbc;
  --dark-theme-disabled-color: #646464;
  --dark-theme-divider-color: #3c3c3c;
  --text-primary-color: var(--dark-theme-text-color);
  --default-primary-color: var(--primary-color);
  --paper-badge-background: var(--paper-red-300);
  --cr-link-color: var(--md-toolbar-color);

}
body {
  background-color: var(--md-background-color);
} /** set color's **/
globular-application {
  color: var(--primary-text-color);
}
#workspace {
  display: flex;
  justify-content: center;
}
#toolbar {
  display: flex;
  flex-grow: 1;
  align-self: center;
  justify-self: flex-end;
  justify-content: flex-end;
}
#title {
  font-family: \"Roboto Mono\", monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
#title:hover {
  cursor: pointer;
}
