:root{
   --blog-editor-width: 840px;
   --blog-page-width: 690px;

   /** Material design (default theme is light) */
   /** colors **/
   --palette-primary-accent: #fff;

   /** Primary **/
   --palette-primary-light: #4791db;
   --palette-primary-main: #1976d2;
   --palette-primary-dark: #115293;

   /** Secondary **/
   --palette-secondary-light: #e33371;
   --palette-secondary-main: #dc004e;
   --palette-secondary-dark: #9a0036;

   /** Error **/
   --palette-error-light: #ffb74d;
   --palette-error-main: #ff9800;
   --palette-error-dark: #f57c00;

   /** Info **/
   --palette-warning-light: #64b5f6;
   --palette-warning-main: #2196f3;
   --palette-warning-dark: #1976d2;

   /** Success **/
   --palette-success-light: #81c784;
   --palette-success-main: #4caf50;
   --palette-success-dark: #388e3c;

   /** Typography **/
   --palette-text-primary: rgba(0, 0, 0, 0.87);
   --palette-text-secondary: rgba(0, 0, 0, 0.54);
   --palette-text-disabled: rgba(0, 0, 0, 0.38);
   --palette-text-accent: #rgba(0, 0, 0, 1);

   /** Buttons **/
   --palette-action-active: rgba(0, 0, 0, 0.54);
   --palette-action-disabled: rgba(0, 0, 0, 0.26);
   --palette-action-hover: rgba(0, 0, 0, 0.04);
   --palette-action-disabledBackground: rgba(0, 0, 0, 0.12);
   --palette-action-selected: rgba(0, 0, 0, 0.08);

   /** Background **/
   --palette-background-default: #fafafa;
   --palette-background-paper: #fff;
   --viewer-pdf-toolbar-background-color: #fafafa;

   /** Divider **/
   --palette-divider: rgba(0, 0, 0, 0.12);

   /** webcomponents colors **/
   --paper-icon-button-ink-color: var(--palette-text-primary);
   --iron-icon-fill-color: var(--palette-text-primary);
   --paper-input-container-focus-color: var(--palette-primary-light);
   --paper-input-container-input-color: var(--palette-text-primary);
   --paper-checkbox-unchecked-background-color: var(--palette-action-disabled);
   --paper-checkbox-unchecked-color: var(--palette-action-disabled);
   --paper-checkbox-unchecked-ink-color: var(--palette-action-disabled);

   /**/
   --paper-checkbox-checkmark-color: var(--palette-text-accent);
   --paper-checkbox-label-color: rgb(195, 195, 195);
   --paper-checkbox-checked-color: var(--palette-primary-main);
   --paper-checkbox-checked-ink-color: var(--palette-primary-main);
   --paper-checkbox-label-checked-color: var(--palette-text-primary);
   --paper-checkbox-error-color: var(--palette-error-main);
   --dark-mode-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3), 0 4px 8px 3px rgba(0, 0, 0, .15);

}

/** The dark theme. **/
:root[theme="dark"] {

   --palette-primary-accent: #424242;

   /** Typography **/
   --palette-text-primary: #fff;
   --palette-text-secondary: rgba(255, 255, 255, 0.7);
   --palette-text-disabled: rgba(255, 255, 255, 0.5);
   --palette-text-accent: #fafafa;

   /** Buttons **/
   --palette-action-active: #fff;
   --palette-action-disabled: rgba(255, 255, 255, 0.3);
   --palette-action-hover: rgba(255, 255, 255, 0.08);
   --palette-action-disabledBackground: rgba(255, 255, 255, 0.12);
   --palette-action-selected: rgba(255, 255, 255, 0.16);

   /** Background **/
   --palette-background-default: #303030;
   --palette-background-paper: #424242;
   --viewer-pdf-toolbar-background-color: #424242;

   /** Divider **/
   --palette-divider: rgba(255, 255, 255, 0.12);
}

body,
html {
   font-weight: 400;
   letter-spacing: 0em;
   line-height: 1.74;
}

body {
   background-color: var(--palette-background-default);
   color: var(--palette-text-primary);
   margin: 0;
   padding: 0;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   position: relative;
   min-height: 100vh;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div,
span,
h1,
h2,
h3 {
   font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5 {
   text-align: left;
}

h1 {
   display: block;
   font-size: 2em;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
}

h2 {
   display: block;
   font-size: 1.5em;
   margin-block-start: 0.83em;
   margin-block-end: 0.83em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
}

p {
   text-align: left;
   margin-top: 2em;
   font-size: 20px;
   line-height: 32px;
   letter-spacing: -0.003em;

   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}

blockquote {
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 40px;
   margin-inline-end: 40px;
}

::-webkit-scrollbar {
   width: 5px;
}
   
::-webkit-scrollbar-track {
   background: var(--palette-background-default);
}

::-webkit-scrollbar-thumb {
   background: var(--palette-divider); 
}

paper-tabs {
   /* custom CSS property */
   --paper-tabs-selection-bar-color: var(--palette-primary-main); 
   color: var(--palette-text-primary);
   --paper-tab-ink: var(--palette-action-disabled);
 }

 paper-toggle-button {
   --paper-toggle-button-checked-button-color: var(--palette-primary-main);
   --paper-toggle-button-checked-bar-color:  var(--palette-primary-main);
   --paper-toggle-button-checked-ink-color: var(--palette-primary-main);
   --paper-toggle-button-unchecked-button-color: var(--palette-action-disabled);
   --paper-toggle-button-unchecked-bar-color:  var(--palette-action-disabled);
   --paper-toggle-button-unchecked-ink-color: var(--palette-action-disabled);
   --paper-toggle-button-label-color: var(--palette-action-disabled);
 }
 paper-toggle-button[checked]{
   --paper-toggle-button-label-color: var(--palette-text-accent);
 }

 paper-radio-button {
   --paper-radio-button-checked-color: var(--palette-primary-main);
   --paper-radio-button-checked-ink-color: var(--palette-primary-main);
   --paper-radio-button-unchecked-color: var(--palette-action-disabled);
   --paper-radio-button-unchecked-ink-color: var(--palette-action-disabled);
   --paper-radio-button-label-color: var(--palette-action-disabled);
 }

 paper-radio-button[checked]{
   --paper-radio-button-label-color: var(--palette-text-accent);
 }

 paper-card {
   background-color: transparent;
 }

 paper-button iron-icon {
   --iron-icon-fill-color: var(--palette-text-primary);
 }

 paper-card .card-content{
   background-color: var(--palette-background-paper);
   color: var(--palette-text-primary);
 }


/** Table element **/
/** Simple table style **/
table-element {
   /** Set max heigth to display the scroll**/
   max-height: 500px;
   color: var(--palette-text-primary);
   background-color: var(--palette-background-paper);
   /** Border */
   border-bottom: 1px solid var(--palette-divider);
   border-right: 1px solid var(--palette-divider);
}

table-header-cell-element {
   border-right: 1px solid var(--palette-text-accent);
}

table-header-cell-element:last-child {
   border-right: none;
}

table-header-element {
   background-color: var(--palette-primary-accent);
   color: var(--palette-text-accent);
   font-size: 1rem;
}

table-header-cell-element {
   padding: 5px 10px 5px 10px;
   font-weight: 500;
   font-size: 1.1rem;
}

dropdown-menu-element {
   font-size: 1rem;
}

globular-dropdown-menu globular-dropdown-menu {
   top: -5px;
   right: 0px;
   z-index: 1;
}

/** The process manager */
globular-processes-manager .table-item {
   text-align: left;
   padding-top: 3px;
   padding-left: 5px;
}

globular-share-resource-wizard{
   position: fixed;
   top: 50%;
   left: 50%;
   /* bring your own prefixes */
   transform: translate(-50%, -50%);
}

globular-application-manager {
   margin-bottom: 10px;
}

globular-blog-posts {
   justify-content: center;
}

globular-blog-posts globular-blog-post {
   padding-bottom: 10px;
}

emoji-picker {
   --background:var(--palette-background-default);
   --button-hover-background:var(--palette-background-paper);
   --border-color: var(--palette-background-paper);
   --input-border-color: var(--palette-background-paper);
   --input-font-color: var(--palette-text-primary);
   --indicator-color: var(--palette-primary-main);
   --input-border-radius: 2xp;
   --category-font-color:var(--palette-text-primary);
 }


/** Materialyse **/
.toast {
   background-color: var(--palette-background-paper);
   color: var(--palette-text-primary);
}

/** Table **/
.table-tile {
   /** Align item in table **/
   justify-items: center;
   align-items: center;
   border-left: 1px solid var(--palette-divider);
}

/** The cell container **/
.table-item {
   text-align: center;
   vertical-align: middle;
   font-size: 1rem;
   height: 100%;
   width: 100%;
   border-right: 1px solid var(--palette-divider);
   border-top: 1px solid var(--palette-divider);
   overflow: auto;
}


/** The cell value div **/
.table-item-value {
   height: 100%;
}

/** Little triangle in the table cell corner **/
.inner-triangle {
   border-left: 10px solid transparent;
   border-right: 10px solid var(--palette-primary-accent);
   border-bottom: 10px solid transparent;
   height: 0;
   width: 0;
   position: absolute;
   right: 0px;
}

.inner-triangle:hover {
   cursor: pointer;
}


.globular-wizard-page{
   background-color: var(--palette-background-paper);
   color: var(--palette-text-primary);
}


/** General purpose classes */
.btn:hover {
   cursor: pointer;
}

.btn iron-icon {
   flex-grow: 1;
   --iron-icon-fill-color: var(--palette-text-primary);
}

/* Crucial */
.highlight {
   background-color: #EEF43B;
 }

.title {
   font-size: 1.25rem;
   text-transform: uppercase;
   color: var(--cr-primary-text-color);
   font-weight: 400;
   letter-spacing: .25px;
   margin-bottom: 12px;
   margin-top: var(--cr-section-vertical-margin);
   outline: none;
   padding-bottom: 4px;
   padding-left: 8px;
   padding-top: 16px;

}

.subtitle-div {
   display: flex;
   align-items: center;
}

.subtitle {
   font-size: 1rem;
   text-align: left;
   padding-left: 8px;
   padding-bottom: 15px;
}


::-webkit-scrollbar {
   width: 5px;
   height: 5px;

}
   
::-webkit-scrollbar-track {
   background: var(--palette-background-default);
}

::-webkit-scrollbar-thumb {
   background: var(--palette-divider); 
}


/**
  * EditorJs style
  */
.ce-block--selected .ce-block__content {
   background: rgba(0, 0, 0, 0.15);
}

.ce-inline-toolbar {
   background-color: var(--palette-background-paper);
}

.cdx-settings-button {
   color: var(--palette-text-primary);
   background-color: var(--palette-background-paper);
}

.ce-toolbar__settings-btn {
   color: var(--palette-text-primary);
   background-color: var(--palette-background-paper);
}

.cdx-settings-button:hover {
   background-color: rgba(0, 0, 0, .15);
}

.ce-toolbar__settings-btn:hover {
   color: var(--palette-text-primary);
   background-color: rgba(0, 0, 0, .15);
}

.ce-settings__button:hover {
   background-color: rgba(0, 0, 0, .15);
}

.ce-settings {
   background-color: var(--palette-background-paper);
   border: 1px solid rgba(0, 0, 0, .15);
}

.ce-inline-tool {
   color: var(--palette-text-primary);
}

.ce-inline-tool:hover {
   background-color: rgba(0, 0, 0, .15);
}

.ce-settings__button {
   color: var(--palette-text-primary);
}

.cdx-settings-button:hover {
   background-color: rgba(0, 0, 0, .15);
}

.ce-inline-toolbar__dropdown:hover {
   background-color: rgba(0, 0, 0, .15);
}

.ce-inline-toolbar {
   border: 1px solid rgba(0, 0, 0, .15);
}

.ce-conversion-tool:hover {
   background: rgba(0, 0, 0, .15);
}

.ce-conversion-toolbar__label {
   color: var(--palette-text-primary);
}

.ce-conversion-toolbar {
   background-color: var(--palette-background-paper);
   border: 1px solid rgba(0, 0, 0, .15);
}

.cdx-input {
   font-size: 1.1rem;
   border: 1px solid var(--palette-background-paper);
}

::selection {
   background-color: var(--palette-background-paper);
}

.editor__redactor {
   padding-bottom: 0px;
}


@media (max-width: 650px) {
   .ce-toolbar {
      background-color: var(--palette-background-paper);
      color: var(--palette-text-primary);
      border: 1px solid rgba(0, 0, 0, .15);
   }

   .blog-read-div {
      max-width: 650px;
      min-width: 425px;
   }
}

/** Web-content **/
.web-content{
   display: flex;
   flex-direction: column;
}

.blog-post-reader-div {
   position: relative;
   width: var(--blog-editor-width);
   text-align: center;
}

/** Blog read mode css */
.blog-read-div {
   background-color: transparent;
   font-family: Playfair Display;
   width: var(--blog-page-width);
   margin-left: 75px;
}

.blog-read-div iframe {
   border: none;
   width: 100%;
   height: 320px;
   text-align: center;
}

.blog-read-div {
   font-size: 17px !important;
}

.blog-read-div img {
   margin-top: 10px;
   width: auto;
   height: auto;
   width: var(--blog-page-width);
   text-align: center;
}

.blog-emitions {
   font-size: 14pt;
   margin-left: 5px;
}

.emotion-title {
   color: var(--palette-text-primary);
   font-size: 1rem;
   min-width: 150px;
   text-align: center;
   padding: 2px;
   border-bottom: 1px solid var(--palette-background-default);
}

.emotion-peoples {
   display: flex;
   flex-direction: column;
   font-size: 1rem;
}

.emotion-peoples span {
   padding: 3px;
   text-align: center;
}


 .blog-post-editor-div, .blog-post-reader-div{
   background-color: var(--palette-background-paper);
   color: var(--palette-text-primary);
 }

/**************************** Layout **************************/

/** Small **/
@media only screen and (max-width: 600px) {

   globular-share-panel,
   globular-media-watching,
   globular-blog-post,
   globular-search-results {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 17;
   }

   globular-terminal {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 17;
   }

   globular-system-monitor {
      grid-row-start: 1;
      grid-row-end: 7;
      grid-column-start: 1;
      grid-column-end: 17;
      margin-bottom: 20px;
   }

   globular-console {
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 17;
   }

   globular-settings-panel,
   globular-blog-posts {
      grid-column-start: 1;
      grid-column-end: 17;
   }

   globular-settings-panel {
      grid-row-start: 2;
   }


   globular-settings-panel {
      grid-row-start: 1;
   }

   globular-messenger {
      position: fixed;
      right: 0px;
      bottom: 0px;
   }

}

@media only screen and (max-width: 1800px) and (min-width: 600px) {
   globular-media-watching, globular-share-panel{
      grid-row-start: 1;
      grid-column-start: 2;
      grid-column-end: 16;
   }
}


/** Medium */
@media only screen and (max-width: 1024px) and (min-width: 600px) {

   
   globular-web-page .ce-block__content, .ce-toolbar__content  {
      max-width: 1024px;
   }

   /** Blog post **/
   globular-blog-post,
   globular-search-results {
      grid-row-start: 1;
      grid-column-start: 3;
      grid-column-end: 15;
   }

   globular-terminal {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 15;
   }

   globular-system-monitor {
      grid-row-start: 1;
      grid-row-end: 7;
      grid-column-start: 3;
      grid-column-end: 15;
      margin-bottom: 20px;
   }

   globular-console {
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 3;
      grid-column-end: 15;
   }

   globular-settings-panel,
   globular-blog-posts {
      grid-column-start: 3;
      grid-column-end: 15;
   }

   globular-settings-panel {
      grid-row-end: 3;
   }

   globular-settings-panel {
      grid-row-start: 2;
   }

   globular-messenger {
      position: fixed;
      right: 0px;
      bottom: 0px;
   }
}

/** Large */
@media only screen and (max-width: 1800px) and (min-width: 1024px) {

   globular-web-page .ce-block__content, .ce-toolbar__content {
      max-width: 1800px;
   }

   globular-blog-post,
   globular-search-results {
      grid-row-start: 1;
      grid-column-start: 5;
      grid-column-end: 13;
   }

   globular-terminal {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 5;
      grid-column-end: 13;
   }

   globular-console {
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 5;
      grid-column-end: 13;
   }

   globular-system-monitor {
      grid-row-start: 1;
      grid-row-end: 7;
      grid-column-start: 5;
      grid-column-end: 13;
      margin-bottom: 20px;
   }

   globular-settings-panel,
   globular-blog-posts {
      grid-column-start: 5;
      grid-column-end: 13;
   }

   globular-settings-panel {
      grid-row-start: 2;
   }


   globular-messenger {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 13;
      grid-column-end: 16;

      position: fixed;
      right: 0px;
      bottom: 0px;
   }
}

/** x-large **/
@media only screen and (min-width: 1800px) {

   /** Editor JS insige WebPage **/
   globular-web-page .ce-block__content, .ce-toolbar__content {
      max-width: 1800px;
   }

   globular-share-panel,
   globular-media-watching,
   globular-blog-post,
   globular-search-results {
      grid-row-start: 1;
      grid-column-start: 4;
      grid-column-end: 14;
   }


   globular-terminal {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 4;
      grid-column-end: 14;
   }


   globular-console {
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 4;
      grid-column-end: 14;
   }

   globular-system-monitor {
      grid-row-start: 2;
      grid-row-end: 7;
      grid-column-start: 4;
      grid-column-end: 14;
      margin-bottom: 20px;
   }


   globular-settings-panel,
   globular-blog-posts {
      grid-column-start: 4;
      grid-column-end: 14;
   }

   globular-settings-panel {
      grid-row-start: 2;
   }

   globular-settings-panel {
      display: flex;
      justify-content: center;
   }

   globular-settings-panel {
      grid-row-start: 1;
   }

   globular-messenger {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 12;
      grid-column-end: 16;

      position: fixed;
      right: 0px;
      bottom: 0px;
   }

   globular-video-conversation {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 6;
   }
}

globular-facet-search-filter {
   grid-row-start: 1;
   grid-column-start: 1;
   grid-column-end: 3;
}

.no-select {
   user-select: none;
}

.hit-div {
   display: flex;
   flex-direction: column;
   padding: 10px;
   border: 1px solid var(--palette-divider);
   width: 100%;
}

.hit-header-div {
   display: flex;
}

.hit-index-div {
   font-size: 1.4rem;
   font-weight: 600;
}

.hit-title-name-div {
   margin-left: 15px;
   font-size: 1.4rem;
   font-weight: 600;
   flex-grow: 1;
}

.snippet-field {
   font-size: 1.20rem;
   font-weight: 400;
}

.snippet-fragments {
   padding-left: 15px;
   font-size: 1.20rem;
}

.draggable{
   position: sticky;
}

globular-search-video-card {
   margin: 5px;
   height: 100%;
}

globular-file-explorer {
   z-index: 1;
}

globular-applications-menu {
   display: flex;
   align-items: center;
}

#title img {
   height: 24px;
   margin-right: 10px;
   margin-left: 10px;
}

#title span {
   font-size: 1.0rem;
}

#toolbar {
   align-items: center;
}

/*@media only screen and (hover: none) and (pointer: coarse){
   iron-icon, paper-icon-button, paper-button, .menu-btn, .side_menu_btn, .application_icon{
      width: 48px;
      height: 48px;
   }
  
   #title img {
      height: 48px;
   }

   #title span {
      font-size: 1.8rem;
   }
}*/

globular-media-watching, globular-share-panel {
   margin-top: 10px;
   margin-bottom: 10px;
}

globular-media-watching, globular-share-panel, globular-blog-posts{
   z-index: 5;
}

globular-content-manager {
   flex-grow: 1;
}

/** Take most of the space... */
globular-web-page {
   min-height: 100px;
   grid-row-start: 1;
   grid-column-start: 1;
   grid-column-end: 17;
}

globular-navigation {
   flex-grow: 1;
}